<nav class="blue darken-4">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">NodeApp</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li><a href="/">Counter</a></li>
        <li><a href="/stat">Increment</a></li>
        
      </ul>
    </div>
  </nav>